body{
    text-align: center;
    font-weight: 600;
    background-image: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);

    
}
h1{
    font-family: cursive;
}
.riscada{
    text-decoration: line-through;
    color: green;
}
.tempo{
    font-style: italic;
}
div{
    color: red;
}
h2{
    text-decoration: underline;

}